-function n(n) {
-	return n > 9 ? "" + n : "0" + n;
-}

- function cursoFormat(nome) {
- 	var replaceChars = {'ú':'u','ç':'c','ã':'a','á':'a','â':'a','ê':'e','é':'e','õ':'o','ô':'o','ó':'o','í':'i',' ':'-'};
-		return nome.toLowerCase().replace(/ú|ç|ã|á|â|ê|é|õ|ô|ó|í| /g,function(match) {return replaceChars[match];});
- }

- const cursos = ['Administração','Agronomia','Arquitetura e Urbanismo','Artes Cênicas','Artes Visuais','Biomedicina','Bioquímica','Ciência da Computação','Ciências Biológicas','Ciências Contábeis','Ciências Econômicas','Ciências Sociais','Comunicação e Multimeios','Design','Direito','Educação Física','Enfermagem','Engenharia Agrícola','Engenharia Ambiental','Engenharia Civil','Engenharia de Alimentos','Engenharia de Produção','Engenharia Elétrica','Engenharia Mecânica','Engenharia Química','Engenharia Têxtil','Estatística','Farmácia','Filosofia','Física','Geografia','História','Informática','Letras','Licenciatura Plena em Ciências','Matemática','Medicina','Medicina Veterinária','Moda','Música','Odontologia','Pedagogia','Psicologia','Química','Secretariado Executivo Trilíngue','Serviço Social','Tecnologia em Alimentos','Tecnologia em Biotecnologia','Tecnologia em Construção Civil','Tecnologia em Meio Ambiente','Zootecnia']

- const anos = ['2016']
