extends _layout

block corpo
  #index
    .container
      h2 Escolha o tipo de prova
      .btn-wrap
        a.btn(href="./pas/") PAS-UEM
        a.btn(href="./inverno/") INVERNO
        a.btn(href="./verao/") VERÃO
        a.btn(href="./ead/") EAD