#index
	body
		background: $accent
		color: white !important

		h1, h2, h3, h4, h5, h6
			color: inherit

		h1
			font-size: 54px
			text-align: center

			@media (max-width: 400px)
				font-size: 46px

	header,
	section,
	footer
		@extend %content

section.form

	form
		width: 100%

	fieldset
		margin: 0 0 30px
		padding: 0
		border: none

	input,
	select
		display: block
		background-color: $accent-light
		color: #fff
		border: none
		outline: none
		padding: 0.5em
		border-radius: 5px
		text-align: center

	label
		display: inline-block
		margin: 10px 20px 10px 0

		&:nth-child(5)
			display: block
			margin: 10px 20px 10px 0

			@media (max-width: 400px)
				width: 100%

				select
					width: 100%

	// Remove o Spinner dos input de numero

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button
		-webkit-appearance: none
		margin: 0

	input[type="number"]
		-moz-appearance: textfield

	input[type="number"]::placeholder
		color: fade-out(white, .6)

	select[disabled]
		background: darken($accent-light, 20%)

	input[type="submit"]
		@extend %botao
		box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.7)
		transition: all .2s ease-in-out

		&:hover
			transform: translateY(-10px)
			box-shadow: 0px 25px 10px -15px rgba(0,0,0,0.2)

	.form-quest

		input.questao
			display: inline-block
			font-size: 30px
			border-radius: 50%
			+size(2.2em)
			text-align: center
			line-height: 1
			margin: 5px

			@media (min-width: 640px)
				&:nth-child(8n)
					margin-right: 0

				&:nth-child(8n + 1)
					margin-left: 0

			@media (max-width: 640px) and (min-width: 400px)
				&:nth-child(5n)
					margin-right: 0

				&:nth-child(5n + 1)
					margin-left: 0

			@media (max-width: 400px)
				&:nth-child(4n)
					margin-right: 0

				&:nth-child(4n + 1)
					margin-left: 0

section.notas
	// display: none

	.notas-tabela
		text-align: center
		overflow-y: hidden

	.tabela-questoes
		background: fade-out(white, 0.7)
		color: white
		border-collapse: collapse
		width: 100%
		margin: 20px 0

		td
			padding: 5px 10px
		th
			padding: 10px

		tbody
			th
				color: white
				text-align: left
				border-bottom: 1px solid fade-out(#fff, 0.7)

			td
				text-align: center
				border-right: 1px solid fade-out(#fff, 0.7)
				width: 20%

				&::before
					content: "Questão "

				span::after
					content: ":"

				@media (max-width: 640px)
					&::before
						content: "Qst. "

				@media (max-width: 400px)
					&::before
						content: ""

					span
						display: inline-block
						font-weight: 700
						width: 100%
						background: fade-out($accent, 0.7)
						border-radius: 5px

						&::after
							content: ""

				&:last-child
					border: none

		tfoot
			th
				text-align: right
				border-right: 1px solid fade-out(#fff, 0.7)

			td
				text-align: left

	.notas-resumo
		text-align: center

		div[class^="nota-"]
			font-size: 24px

			@media (max-width: 400px)
				font-size: 20px

		span
			display: block
			font-size: 1.5em

@media (max-width: 640px)
	.form
		.form-info
			input,
			select
				padding: 1em
