#index
  h2
    font-size: 45px
    text-align: center
    font-weight: 300

  .btn-wrap
    display: flex
    flex-direction: row
    justify-content: space-between

  .btn
    display: block
    font-size: 16px
    padding: .7em 1em
    margin: 30px auto
    cursor: pointer
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.7)
    transition: all .2s ease-in-out

    background-color: $accent-light
    color: #fff
    border: none
    outline: none
    border-radius: 5px
    text-align: center

    &:hover
      transform: translateY(-10px)
      box-shadow: 0px 25px 10px -15px rgba(0,0,0,0.2)